.footer {
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: #090A0D;

    .bottom-group {
        display: none;
    }

    .header {
        position: static;
        background: transparent;
        backdrop-filter: blur(0);
    }

    &__container {
        position: relative;
        z-index: 11;
    }

    &__top,
    &__bottom {
        @include flex-all-sb;
        padding-right: 30px;
    }

    &__top {
        padding-bottom: 20px;
        border-bottom: 1px solid var(--cs-grey);

        .list {
            li {
                a {
                    color: var(--cs-white);
                    transition: all ease-in-out .4s;
                }

                &:hover {
                    a {
                        color: var(--cs-main);
                    }
                }
            }
        }
    }

    &__bottom {
        margin-top: 20px;

        .list {
            gap: 30px;
            
            li {
                a {
                    font-family: 'Azonix', sans-serif;
                    text-decoration-line: underline;
                    color: var(--cs-grey-text);
                    transition: all ease-in-out .4s;

                    &:hover {
                        color: var(--cs-main);
                    }
                }
            }
        }
        .copyright {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: #444751;
        }
    }

    .list {
        @include flex-v-center;
        gap: 50px;

        li {
            a {
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                text-decoration: none;

                &:hover {
                    color: var(--cs-light);
                }
            }
        }
    }
}

.socials {
    .list {
        gap: 10px;

        &__link {
            background: rgba(234, 235, 240, .05);
            border-radius: 4px;
            @include flex-all-center;
            width: 35px;
            height: 35px;

            .icon {
                width: 15px;
                height: 15px;
                fill: var(--cs-grey-text);
                transition: all ease-in-out .4s;
            }

            &:hover {
                .icon {
                    // transform: scale(1.5) translateY(-5px);
                    fill: var(--cs-white);
                }
            }
        }
    }
}

.scroll-top {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid var(--cs-grey-text);
    position: absolute;
    position: fixed;
    z-index: 11;
    bottom: 46px;
    right: 140px;
    background-color: transparent;
    @include flex-all-center;
    cursor: pointer;

    &:hover {
        animation: pulseShadow 5s infinite linear;
    }

    .icon {
        stroke: var(--cs-white);
    }
}