.header {
    background: rgba(9, 10, 13, 0.8);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 111;
    cursor: default;

    &__container {
        padding: 22px 0;
        @include flex-all-sb;
    }

    &__right-box {
        @include flex-v-center;
    }

    .logo-link {
        &__img {
            max-width: 80px;
        }
    }

    .nav {
        margin-left: 70px;
    }

    .nav ul {
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;

        li a {
            font-family: 'Azonix', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: var(--cs-grey-text);
            transition: all ease-in-out .4s;
            padding-bottom: 36px;
        }

        li:hover a {
            color: var(--cs-main);
        }

        li.active a  {
            color: var(--cs-light);
            cursor: default;
            // border-bottom: 3px solid var(--cs-main);
        }

        li:not(:last-child) {
            margin-right: 50px;
        }
    }

    .navigation-mobile .auth {
        display: none;
    }

    .auth {
        @include flex-v-center;
        gap: 20px;
        margin-left: 2px;
        
        &__signup {
            @include btn-transparent;
            min-width: 100px;
            white-space: nowrap;
        }
        &__login {
            font-family: 'Azonix', sans-serif;
            display: block;
            border-radius: 4px;
            font-weight: 700;
            font-size: 12px;
            line-height: 100%;
            color: var(--cs-white);
            padding: 13px 19px;
            cursor: default;
            // @include btn-link;
        }
        &__btn-anim {
            @include btn-transparent;
            @include btn-animate;
            min-width: 100px;
        }
    }

    .calc-form {
        .select {
            position: relative;
            width: 100%;
            max-width: 30px;
            height: 16px;
            margin-left: 30px;

            &[data-state="active"] .select-title:before{
                transform: translate(-3px, -50%) rotate(-45deg);
            } 

            &[data-state="active"] .select-title:after{
                transform: translate(3px, -50%) rotate(45deg);
            }

            &[data-state="active"] .select-content {
                opacity: 1;
            }

            &[data-state="active"] .select-label {
                max-height: 40px;
            }   

            &-title {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                border-radius: 6px;  
                cursor: pointer;
                font-weight: 700;
                font-size: 12px;
                line-height: 16px;
                color: var(--cs-white);

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: -8px;
                    display: block;
                    width: 8px;
                    height: 2px;
                    transition: all 0.3s ease-out;
                    background-color: var(--cs-white);
                    transform: translate(-3px, -50%) rotate(45deg);
                }

                &::after {
                    transform: translate(3px, -50%) rotate(-45deg);
                }

                &:hover, .calc-form .select[data-state="active"] .select-title{
                    border-color: #0051B5;
                }
            }

            &-content {
                position: absolute;
                top: 40px;
                left: 0;
                display: flex;
                flex-direction: column;
                background-color: var(--cs-white);
                border-top: none;
                border-radius: 0 0 5px 5px;
                transition: all 0.3s ease-out;
                opacity: 0;
                z-index: 8;
            }

            &-input:checked + label {
                display: none;
            }

            &-label {
                display: flex;
                align-items: center;
                height: 40px;
                max-height: 0;
                padding: 0 16px;  
                transition: all 0.2s ease-out;
                cursor: pointer;  
                overflow: hidden;
                font-weight: 700;
                font-size: 12px;
                line-height: 16px;
                color: var(--cs-grey);

                &:hover {
                    background-color: var(--cs-main);
                    color: var(--cs-light);
                }
            }

            &-input {
                display: none;
            }
        }
    }

    .burger {
        @include burger;
    }

    .navigation-mobile {
        height: 100vh;
        position: fixed;
        @include flex-all-sb;
        justify-content: flex-start;
        top: 0;
        left: -70px;
        z-index: 110;
        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(.68,-.55,.265,1.55);
        width: 0;
        flex-direction: column;
        margin-left: 0;
        padding-bottom: 100px;
        overflow-y: auto;

        // .logo-link {
        //     max-width: 250px;
        //     width: 100%;

        //     &__img {
        //         max-width: 250px;
        //         width: 100%;
        //     }
        // }

        &__top {
            width: 100%;
            padding: 28px 16px;
            background: rgba(9, 10, 13, 0.8);
            backdrop-filter: blur(10px);
            border-bottom: 1px solid var(--cs-dark);
        }

        .nav {
            margin-top: 50px;
            margin-bottom: 50px;

            ul {
                flex-direction: column;

                li:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 40px;

                    a {
                        padding-bottom: 0;
                        border-bottom: 0;
                    }
                }
            }
        }

        .auth {
            gap: 20px;
        }
    }

    .navigation-mobile.menu--active {
        opacity: 1;
        width: 100%;
        left: 0;
    }

    .navigation-bg {
        display: block;
        height: 40px;
        width: 40px;
        position: fixed;
        top: 22px;
        right: 16px;
        background: var(--cs-dark);
        z-index: 101;
        transition: transform .8s cubic-bezier(.86,0,.07,1);
    }
    
    .navigation-bg.navigation-bg__active {
        transform: scale(80);
    }
    .burger,
    .navigation-bg {
        display: none;
    }
}

// .header.active-scroll {
//     background-color: var(--cs-grey);
// }