.main-screen {
    padding-top: 228px;
    padding-bottom: 105px;
    background-image: url('../images/home/main-screen-bg.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    &__container {
        max-width: 711px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title {
        font-weight: 700;
        font-size: 90px;
        line-height: 100%;
        text-align: center;
        letter-spacing: -0.02em;
        color: var(--cs-light);
        margin-top: 0;
        margin-bottom: 0px;
    }

    &__text {
        font-weight: 400;
        font-size: 28px;
        line-height: 115%;
        letter-spacing: -0.02em;
        color: var(--cs-light);
        margin-top: 10px;
        margin-bottom: 40px;

        &-sm {
            font-size: 16px;
            line-height: 180%;
            margin-top: 40px;
            margin-bottom: 60px;
        }
    }

    &__btn {
        @include btn-transparent;
        @include btn-animate;
        margin-bottom: 40px;
        padding: 20px;
        max-width: 250px;
        width: 100%;
        z-index: 11;
    }

    .socials {
        .list {
            display: flex;
            z-index: 11;
            position: relative;
        }
    }
}

.timer {
    &__container {
        @include flex-all-center;
        gap: 30px;
    }

    &__container--endtime {

        .timer__numbers {
            color: red;
            opacity: .5;
        }

        .timer__numbers svg:nth-child(2) circle {
            stroke: red !important;
            stroke-dashoffset: 0 !important;
        }
    }

    &__item {
        @include flex-all-center;
        flex-direction: column;
    }

    &__numbers {
        position: relative;
        display: flex;
        font-weight: 500;
        font-size: 30px;
        line-height: 41px;
        text-align: center;
        color: var(--cs-white);
        border-radius: 50%;
        border: 6px solid var(--cs-grey);
        width: 112px;
        height: 112px;
        margin-bottom: 14px;

        span {
            position: absolute;
            @include flex-all-center;
            width: 100%;
            height: 100%;
        }

        svg {
            position: absolute;
            width: 150px;
            height: 150px;
            transform: rotate(270deg);
            top: calc(50% - 75px);
            left: calc(50% - 75px);

            circle {
                width: 100%;
                height: 100%;
                fill: transparent;
                stroke: transparent;
                stroke-width: 4px;
                transform: translate(5px, 5px);
            }
        }

        svg:nth-child(2) circle {
            stroke-dasharray: 335;
        }

        svg:nth-child(2) circle#dd {
            stroke: #EE9B4F;
        }
        svg:nth-child(2) circle#hh {
            stroke: #75EEFF;
        }
        svg:nth-child(2) circle#mm {
            stroke: #BA56E1;
        }
        svg:nth-child(2) circle#ss {
            stroke: #4B4E59;
        }

    }

    &__description {
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: var(--cs-white);
    }
}

.section {
    &__title {
        @include title;
    }
}

.slider {
    position: relative;
    z-index: 11;

    &__controls {
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;

        .rating__btns {
            position: static;
            color: var(--cs-white);
            width: 40px;
            height: 40px;
            border: 1px solid #444751;
            border-radius: 50%;

            &::after {
                font-size: 8px;
            }
        }
    }
    
    &__container {
        margin-top: 30px;
        position: relative;
    }

    .item {
        background: #101114;
        border-radius: 4px;
        max-width: 355px;
        padding: 50px 30px 40px 30px;
        text-align: center;
        cursor: pointer;

        &__header {
            display: flex;
            justify-content: center;

            &-title {
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                color: #444751;
            }
        }

        &__partner {
            margin-top: 12px;
            margin-bottom: 20px;
            padding-bottom: 32px;
            border-bottom: 1px solid #1B1C21;
        }

        &__info {
            &-block {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
            }
            &-block:not(:last-child) {
                margin-bottom: 15px;
            }
            &-title {
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                color: var(--cs-grey-text)
            }
            &-value {
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                text-align: right;
                color: var(--cs-light);
            }
        }
    }
}

.about {
    position: relative;
    padding-top: 40px;
    padding-bottom: 100px;
    
    .section__title {
        text-align: center;
        margin-bottom: 60px;
    }

    .game {
        &__container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 60px;
        }
        &__tabs {
            position: relative;
            z-index: 11;
    
            .tabs {
                &__nav {
                    justify-content: center;
                    margin-bottom: 60px;
                    padding-bottom: 24px;
                    border-bottom: 1px solid #1B1C21;
                }
                &__nav-item {
                    &:not(:last-child) {
                        margin-right: 60px;
                    }
                }
                
                &__nav-btn {
                    cursor: pointer;
                    color: #444751;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 115%;
                    letter-spacing: -0.02em;
                    padding: 0;
                    background: transparent;
                    border: none;
                    transition: all ease-in-out .4s;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 80px;
                        height: 1px;
                        background-color: var(--cs-main);
                        bottom: -24px;
                        left: 50%;
                        transform: translateX(-50%);
                        opacity: 0;
                        transition: all ease-in-out .4s;
                    }

                    &:hover {
                        color: var(--cs-main);
                    }
                }
    
                &__nav-btn--active {
                    color: var(--cs-light);

                    &::before {
                        opacity: 1;
                    }
                }
    
                &__content {
                    overflow: hidden;
    
                    .tabs__panel {
                        display: inherit !important;
                        height: 0;
                        visibility: hidden;
                        opacity: 0;
                        transform: translateX(100%);
                        transition: all ease-in-out .4s;
                    }
                    .tabs__panel--active {
                        visibility: visible;
                        opacity: 1;
                        height: auto;
                        transform: translateX(0);
                    }
                }
            }
        }
    }

    &__image {
        max-width: 730px;

        .img {
            border-radius: 4px;
        }
    }

    &__content {
        max-width: 690px;

        &-image {
            max-width: 190px;

            .img {
                border-radius: 4px;
            }
        }

        .text {
            position: relative;
            z-index: 11;
            font-weight: 400;
            font-size: 16px;
            line-height: 180%;
            margin-top: 0;
            margin-bottom: 0;
            color: var(--cs-light);
        }

        .text-grey {
            margin-top: 22px;
            color: #444751;
        }

        .text-accent {
            position: relative;
            z-index: 11;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: var(--cs-main);
        }

        .btn-group {
            position: relative;
            z-index: 11;
            @include flex-v-center;
            margin-top: 120px;

            .btn-transparent {
                @include btn-transparent;
                font-weight: 800;
                font-size: 20px;
                padding: 20px;
                max-width: 315px;
                width: 100%;
            }
        }
    }
}

.bit-banner {
    padding-top: 0;
    padding-bottom: 160px;
    position: relative;
    z-index: 11;

    &__container {
        background-image: url('../images/home/bit-banner.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 4px;
        padding: 90px 110px 60px 110px;
        cursor: default;
    }

    &__title {
        @include title;
        line-height: 127%;
        letter-spacing: -0.04em;
        margin-bottom: 40px;

        .accent {
            color: var(--cs-main);
        }
    }

    &__btn {
        @include btn-transparent;
        @include btn-animate;
        max-width: 250px;
        font-weight: 800;
        font-size: 20px;
        line-height: 100%;
        padding: 20px;
        z-index: 11;
    }
}

.prizes {
    padding-top: 160px;
    padding-bottom: 200px;
    background-color: #0C0D10;

    .section__title {
        text-align: center;
        margin-bottom: 60px;
    }

    &__tabs {
        position: relative;
        z-index: 11;

        .tabs {
            padding-bottom: 60px;
            margin-bottom: 40px;
            border-bottom: 1px solid #1B1C21;

            &__nav {
                gap: 60px;
                margin-bottom: 60px;
                justify-content: center;
                padding-bottom: 11px;
                border-bottom: 1px solid #1B1C21;
            }

            &__nav-item {
                &:hover {
                    .tabs__nav-icon {
                        & svg {
                            color: var(--cs-main);
                        }
                    }

                    .tabs__new-text {
                        span:last-child {
                            color: var(--cs-main);
                        }
                    }
                }
            }
            
            &__nav-btn {
                cursor: pointer;
                color: var(--cs-grey-text);
                @include flex-v-center;
                padding: 0;
                background: transparent;
                border: none;
                transition: all ease-in-out .4s;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: var(--cs-main);
                    bottom: -11px;
                    left: 50%;
                    transform: translateX(-50%);
                    opacity: 0;
                    transition: all ease-in-out .4s;
                }
            }

            &__nav-btn--active {
                &::before {
                    opacity: 1;
                }
                .tabs__nav-icon {
                    & svg {
                        color: var(--cs-main);
                    }
                }
                .tabs__new-text {
                    span:first-child,
                    span:last-child  {
                        color: var(--cs-white);
                    }
                }
            }

            &__nav-icon {
                width: 50px;
                height: 50px;
                @include flex-all-center;
                border-radius: 50%;
                background: rgba(233, 233, 233, 0.05);
                margin-right: 15px;

                & svg {
                    color: var(--cs-grey-text);
                    transition: all ease-in-out .4s;
                }
            }

            &__new-text {
                font-weight: 500;
                font-size: 20px;
                line-height: 27px;

                span:first-child,
                span:last-child {
                    color: var(--cs-grey-text);
                    transition: all ease-in-out .4s;
                }
            }
            &__content {
                overflow: hidden;

                .tabs__panel {
                    display: inherit !important;
                    height: 0;
                    visibility: hidden;
                    opacity: 0;
                    transform: translateX(100%);
                    transition: all ease-in-out .4s;

                    .text {
                        margin-top: 0;
                        margin-bottom: 0;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 180%;
                        max-width: 1237px;
                        margin: 0 auto;
                        text-align: center;
                        color: var(--cs-light);
                    }
                }
                .tabs__panel--active {
                    visibility: visible;
                    opacity: 1;
                    height: auto;
                    transform: translateX(0);
                }
            }
        }
    }

    &__signup {
        @include btn-transparent;
        max-width: 712px;
        padding: 20px;
        font-weight: 800;
        font-size: 20px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        border: 1px solid rgba(238, 155, 79, 0.3);
    }

    .text-accent {
        display: block;
        text-align: center;
        font-weight: 400;
        font-size: 24px;
        line-height: 115%;
        letter-spacing: -0.02em;
        color: var(--cs-main);
    }
}

.slider.bonuses {
    padding-top: 160px;
    padding-bottom: 40px;

    .slider__item {
        padding: 62px 30px;
    }
}

.token {
    padding-top: 162px;
    padding-bottom: 52px;
    background-color: #0C0D10;

    &__title {
        @include title;
        text-align: center;
    }

    &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 115%;
        text-align: center;
        letter-spacing: -0.02em;
        margin-top: 20px;
        margin-bottom: 40px;
        color: var(--cs-light);

        &--accent {
            color: var(--cs-main);
        }
    }

    &__container {
        @include flex-all-sb;
        max-width: 1400px;
        gap: 100px;
    }

    &__image {
        max-width: 730px;
    }

    &__content {
        max-width: 564px;
        position: relative;
        z-index: 11;

        .token__title {
            text-align: left;
        }

        .text {
            margin-top: 0;
            margin-bottom: 80px;
            font-weight: 400;
            font-size: 16px;
            line-height: 180%;
            color: var(--cs-light);
        }
    }

    .btn-main {
        @include btn-transparent;
        @include btn-animate;
        padding: 20px;
        max-width: 250px;
        width: 100%;
        z-index: 11;
    }
}

.swap {
    padding: 142px 0;
    background-image: url('../images/home/pancakesswap-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__container {
        position: relative;
        z-index: 11;
    }

    &__title {
        @include title;
        margin-bottom: 40px;

        .accent {
            color: var(--cs-main);
        }
    }

    &__btn {
        @include btn-transparent;
        padding: 19px;
        max-width: 250px;
        width: 100%;
        z-index: 11;
        font-weight: 800;
        font-size: 20px;
        line-height: 100%;
        border: 1px solid rgba(238, 155, 79, 0.5);

        .icon-wrap {
            position: relative;
            padding-left: 38px;

            &::before {
                content: "";
                position: absolute;
                background-image: url('../images/icon/pancakes.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 27px;
                height: 27px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}