.section-bg-color.white-paper {
    background-color: #505050;

    .section {
        padding: 70px 0;
    }

    .section__title {
        text-align: center;
    }
    .section__title.accent {
        color: var(--cs-main);
    }
    .section__text {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 27px;
        color: var(--cs-light);
    }
}
.white-paper {
    .section--bg {
        position: relative;
        background-image: none;
        padding-top: 100px;
        padding-bottom: 200px;

        &::before {
            content: "";
            position: absolute;
            background-image: url('../images/icon/preloader-bit-gold.svg');
            background-position: left;
            background-size: contain;
            background-repeat: no-repeat;
            width: 500px;
            height: 500px;
            opacity: .2;
            top: calc(50% - 100px);
            left: calc(50% - 550px);
        }

        .section__title {
            max-width: 320px;
            text-align: left;
            margin: 0 auto;
            font-weight: normal;
            font-size: 60px;

            .accent {
                color: var(--cs-main);
                font-weight: 700;
            }
        }
    }
}

.table-content {
    margin-bottom: 25px;
    background-image: url('../images/whitepaper/4.png');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;

    .list {
        li {
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 5px;

            .list-child {
                padding-left: 20px;
                margin-top: 5px;

                li {
                    opacity: .5;
                }
            }
        }
    }
}

.overview {
    .section__title {
        margin-bottom: 40px;
    }
    .section__text:not(:last-child) {
        margin-bottom: 20px;
    }
    .banner {
        margin-top: 40px;
    }
}

.vision-goals {
    .section__title {
        margin-bottom: 50px;
    }

    .section__text {
        margin-bottom: 5px;
        text-align: center;

        &.mb5 {
            margin-bottom: 70px;
        }
    }

    .list {
        list-style: disc;
        max-width: 590px;
        margin: 0 auto;

        li {
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 5px;
        }
    }
    .bit-image {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
}

.products {
    .section__title {
        margin-bottom: 25px;
    }

    .section__text:first-child {
        text-align: center;
    }

    .section__text:not(:last-child) {
        margin-bottom: 20px
    }

    &__links {
        @include flex-all-sb;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    &__link {
        width: 200px;
        height: 150px;
        background-color: var(--cs-body-bg);
        @include flex-v-center;
        padding: 15px;
        font-size: 22px;
        line-height: 26px;
        font-weight: 700;
        box-shadow: 0 0 30px rgb(0 0 0 / 25%);
        position: relative;
        z-index: 11;

        .accent-whtie {
            color: var(--cs-white);
            font-weight: 400;
        }
    }

    .list {
        margin-bottom: 50px;

        li {
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 5px;

            .accent {
                color: var(--cs-main);
            }
        }
    }

    .chart-image {
        max-width: 700px;
        margin: 0 auto;
    }
}

.nft-game {
    .section__title {
        margin-bottom: 50px;
    }
    .section__text {
        .accent {
            color: var(--cs-main);
            font-size: 34px;
            line-height: 36px;
        }
    }
    .section__text:not(:last-child) {
        margin-bottom: 20px;
    }

    .section__text.mb0{
        margin-bottom: 0;
    } 

    .list {
        list-style: disc;
        padding-left: 25px;

        li {
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
        }
    }

    .list-steps {
        list-style: none; 

        li {
            margin-bottom: 15px;

            .list-child {
                margin-top: 10px;
                margin-bottom: 10px;

                li {
                    margin-bottom: 5px;
                }
            }
        }

        .accent {
            color: var(--cs-main);
        }
    }

    .bit-image {
        max-width: 500px;
        margin: 0 auto;

        .image {
            display: block;
        }
    }
}

.marketplace {
    .section__title {
        margin-bottom: 50px;
    }

    .bit-image {
        max-width: 700px;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.concept {
    .section__title {
        margin-bottom: 50px;
    }

    .section__text {
        .accent {
            color: var(--cs-main);

            a {
                position: relative;
                z-index: 11;
            }
        }
    }

    .section__text:not(:last-child) {
        margin-bottom: 20px;
    }
}

.marketing {
    .section__title {
        margin-bottom: 50px;
    }

    .section__text {
        .accent {
            color: var(--cs-main);
        }
    }

    .section__text:not(:last-child) {
        margin-bottom: 20px;
    }

    .section__text.mb0 {
        margin-bottom: 0;
    }

    ul {
        list-style: disc;
        padding-left: 25px;

        li {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
        }
    }
}

.token {
    .section__title {
        margin-bottom: 50px;
    }

    .section__text:not(:last-child) {
        margin-bottom: 20px;
    }

    .section__text.mb0 {
        margin-bottom: 0;
    }

    ul {
        li {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 5px;

            .accent {
                color: var(--cs-main);
            }
        }
    }

    .bit-image {
        max-width: 300px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
}

.bit-roadmap {
    .section__title {
        margin-bottom: 50px;
    }
    .section__text.accent {
        color: var(--cs-main);
    }
    ul {
        margin-bottom: 40px;

        li {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 5px;
            .accent {
                color: var(--cs-main);
            }
        }
    }
}

.appendix {
    .section__title {
        margin-bottom: 50px;
    }
    .section__text.accent {
        color: var(--cs-main);
    }
    ol {
        padding-left: 30px;
        margin-bottom: 50px;
        list-style: auto;

        li {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 5px;
        }
    }
    ul {
        list-style: disc;
        padding-left: 30px;

        li {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 5px;
        }
    }
}