/* stylelint-disable */

@mixin burger {
  @include flex-all-center;
  width: 40px;
  height: 40px;
  position: fixed;
  top: 22px;
  right: 16px;
  border-radius: 4px;
  z-index: 111;
  background: rgba(233, 233, 233, 0.05);
  text-align: center;
  cursor: pointer;
  border: none;
  transition-duration: .4s;

  &__line {
    position: relative;
    width: 22px;
    height: 2px;
    background-color: var(--cs-light);
    display: inline-block;
    border-radius: 2px;
    transition-duration: .4s;

    &::before,
    &::after {
      content: "";
      width: 22px;
      height: 2px;
      background-color: var(--cs-light);
      display: inline-block;
      position: absolute;
      left: 0;
      border-radius: 2px;
      transition: all .2s;
    }

    &::before {
      top: -7px;
    }

    &::after {
      top: 7px;
    }
  }

  &:hover .burger__line::before {
    top: -9px;
  }
  
  &:hover .burger__line::after {
    top: 9px; 
  }

  &.burger--active .burger__line {
    background-color: transparent;
  }

  &.burger--active .burger__line::before {
    background-color: #444751;
    top: 0;
    transform: rotate(135deg);
  }

  &.burger--active .burger__line::after {
    background-color: #444751;
    top: 0;
    transform: rotate(-135deg);
  }
}