<div class="section-bg-color about-us">
    <section class="section section--bg">
        <div class="wrapper">
            <h1 class="section__title">
                About us
            </h1>
        </div>
    </section>
    <section class="content">
        <div class="wrapper">
            <div class="content__wrapper">
                <h2 class="content__title mb-40">
                    We are a team of crypto-industry professionals. We have developed a platform for 
                    launching new cryptocurrency tokens together with the community. Join the winning 
                    team and buy a new token at the lowest price!
                </h2>
                <p class="content__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sollicitudin scelerisque 
                    consectetur sem iaculis in semper pulvinar. Felis, at elementum sagittis donec.
                    Neque donec ipsum, et sed diam tellus aliquam. Et morbi odio donec ac pharetra 
                    facilisis scelerisque vitae, at. Turpis sed commodo nulla netus in consequat pharetra 
                    elementum tellus. Enim lacinia et, urna arcu ornare augue quam. Nisl duis eget pharetra, 
                    fermentum. Dictum consectetur donec consequat penatibus ac vel eros. Arcu erat gravida 
                    nibh enim. Scelerisque bibendum commodo, tristique eu libero in turpis lorem sit. Sed 
                    amet nisl venenatis nibh. Sem lorem integer vestibulum cras sed vitae netus ultrices velit. 
                    Pellentesque non convallis convallis id. Facilisis ac, maecenas nunc porta nibh ut eu dignissim.
                    <br><br>
                    In eu at enim pellentesque quam. Imperdiet elit pharetra eu sed posuere. Urna sollicitudin 
                    risus dui augue. Nulla integer lorem amet porta tellus malesuada cum vestibulum nisl. Quis 
                    massa, dui, in habitasse.Mollis ultrices curabitur nec urna curabitur. In ut tellus purus nec 
                    in at purus nam. Lacus, facilisis eu in vehicula. Gravida nunc congue sit semper viverra vitae 
                    venenatis. Dui ipsum proin non nulla. Vel et lobortis non sed elementum, tellus magna. Feugiat 
                    sit id porttitor nisl malesuada vulputate morbi felis quam.<br>
                    Egestas non sit placerat commodo, turpis. Diam nulla et malesuada vel mi. Urna, venenatis mi dis 
                    vulputate sodales ultrices. Ultrices non, risus dui lobortis scelerisque. Elementum massa tincidunt 
                    dui nulla ultrices.
                    <br><br>
                    At orci lacus, nisl metus. Laoreet nunc risus tellus malesuada nec odio pellentesque varius. 
                    Interdum nulla ullamcorper elit adipiscing in leo. Varius et ligula scelerisque pharetra ac at 
                    quam nunc. In cursus lorem orci bibendum tortor sodales id sed. Dui volutpat sollicitudin praesent 
                    diam est sagittis sit platea. In volutpat odio sit a nec. Tortor integer imperdiet accumsan, et lectus 
                    gravida praesent luctus ut. Ipsum, nisl et et ornare neque in gravida. Arcu id blandit risus interdum 
                    lectus blandit potenti enim. Cursus amet egestas integer interdum ultrices.
                </p>
                <ol class="content__list list list-reset mt-30 mb-30">
                    <li class="list__item">
                        <span class="list__item-number">1</span>
                        <p class="list__item-description">
                            Porttitor erat aliquet lorem velit velit enim justo tincidunt. 
                            Metus, malesuada adipiscing lacus, tortor purus. Scelerisque 
                            aliquam, tristique felis, nec pellentesque quam. 
                        </p>
                    </li>
                    <li class="list__item">
                        <span class="list__item-number">2</span>
                        <p class="list__item-description">
                            At amet, vestibulum egestas sed sem proin. In 
                            laoreet eget erat risus. Ac, et risus, et morbi facilisis.
                        </p>
                    </li>
                    <li class="list__item">
                        <span class="list__item-number">3</span>
                        <p class="list__item-description">
                            Aliquam nulla nec, aliquam non. Elementum sit cursus 
                            feugiat volutpat, convallis sit nulla mattis. 
                        </p>
                    </li>
                    <li class="list__item">
                        <span class="list__item-number">4</span>
                        <p class="list__item-description">
                            Cursus semper nulla et id elit id. Faucibus semper luctus erat 
                            cras at congue tortor. Lectus vel aliquet sit quisque enim, a, risus quis. 
                        </p>
                    </li>
                </ol>
                <p class="content__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sollicitudin scelerisque 
                    consectetur sem iaculis in semper pulvinar. Felis, at elementum sagittis donec.
                    Neque donec ipsum, et sed diam tellus aliquam. Et morbi odio donec ac pharetra 
                    facilisis scelerisque vitae, at. Turpis sed commodo nulla netus in consequat pharetra 
                    elementum tellus. Enim lacinia et, urna arcu ornare augue quam. Nisl duis eget pharetra, 
                    fermentum. Dictum consectetur donec consequat penatibus ac vel eros. Arcu erat gravida 
                    nibh enim. Scelerisque bibendum commodo, tristique eu libero in turpis lorem sit. Sed 
                    amet nisl venenatis nibh. Sem lorem integer vestibulum cras sed vitae netus ultrices velit. 
                    Pellentesque non convallis convallis id. Facilisis ac, maecenas nunc porta nibh ut eu dignissim.
                    <br><br>
                    In eu at enim pellentesque quam. Imperdiet elit pharetra eu sed posuere. Urna sollicitudin 
                    risus dui augue. Nulla integer lorem amet porta tellus malesuada cum vestibulum nisl. Quis 
                    massa, dui, in habitasse.Mollis ultrices curabitur nec urna curabitur. In ut tellus purus nec 
                    in at purus nam. Lacus, facilisis eu in vehicula. Gravida nunc congue sit semper viverra vitae 
                    venenatis. Dui ipsum proin non nulla. Vel et lobortis non sed elementum, tellus magna. Feugiat 
                    sit id porttitor nisl malesuada vulputate morbi felis quam.<br>
                    Egestas non sit placerat commodo, turpis. Diam nulla et malesuada vel mi. Urna, venenatis mi dis 
                    vulputate sodales ultrices. Ultrices non, risus dui lobortis scelerisque. Elementum massa tincidunt 
                    dui nulla ultrices.
                    <br><br>
                    At orci lacus, nisl metus. Laoreet nunc risus tellus malesuada nec odio pellentesque varius. 
                    Interdum nulla ullamcorper elit adipiscing in leo. Varius et ligula scelerisque pharetra ac at 
                    quam nunc. In cursus lorem orci bibendum tortor sodales id sed. Dui volutpat sollicitudin praesent 
                    diam est sagittis sit platea. In volutpat odio sit a nec. Tortor integer imperdiet accumsan, et lectus 
                    gravida praesent luctus ut. Ipsum, nisl et et ornare neque in gravida. Arcu id blandit risus interdum 
                    lectus blandit potenti enim. Cursus amet egestas integer interdum ultrices.
                </p>
            </div>
        </div>
    </section>
</div>