<footer class="footer">
    <div class="wrapper">
        <div class="footer__container">
            <div class="footer__top">
                <a class="logo-link" href="/">
                    <img class="logo-link__img" src="../images/icon/logo.svg" alt="logo: bit5">
                </a>
                <nav class="nav">
                    <ul class="list-reset list">
                        <li class="active">
                            <a href="/">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#about">
                                About us
                            </a>
                        </li>
                        <li>
                            <a href="#rules">
                                Program Rules
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__bottom">
                <nav class="nav">
                    <ul class="list-reset list privacy">
                        <li class="active">
                            <a href="#">
                                Use of cookies
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                ASite usage policy
                            </a>
                        </li>
                        <li>
                            <strong class="copyright">
                                ©All rights reserved. 2022. Bit5 Company
                            </strong>
                        </li>
                    </ul>
                </nav>
                <div class="socials">
                    <ul class="list-reset list">
                        <li class="list__item">
                            <a href="https://t.me/bit5win" class="list__link" target="_blank">
                                <svg class="icon telegram">
                                    <use xlink:href="images/sprite.svg#telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="https://www.youtube.com/channel/UCvatYKiRO2U7-1k8bmU8XMg" class="list__link" target="_blank">
                                <svg class="icon youtube">
                                    <use xlink:href="images/sprite.svg#youtube"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="https://twitter.com/Bit5Win" class="list__link" target="_blank">
                                <svg class="icon twitter">
                                    <use xlink:href="images/sprite.svg#twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="https://www.instagram.com/bit5.company/" class="list__link" target="_blank">
                                <svg class="icon instagram">
                                    <use xlink:href="images/sprite.svg#instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="https://www.facebook.com/bit5.win" class="list__link" target="_blank">
                                <svg class="icon facebook">
                                    <use xlink:href="images/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="https://www.reddit.com/user/bit5-win" class="list__link" target="_blank">
                                <svg class="icon reddit">
                                    <use xlink:href="images/sprite.svg#reddit"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>