<header class="header">
	<div class="wrapper">
		<div class="header__container">
			<a class="logo-link" href="/">
				<img class="logo-link__img" src="../images/icon/logo.svg" alt="logo: bit5">
			</a>
			<nav class="nav">
				<ul>
					<li class="active">
						<a href="/">
							Home
						</a>
					</li>
					<li>
						<a href="#about">
							About us
						</a>
					</li>
					<li>
						<a href="#rules">
							Program Rules
						</a>
					</li>
					<li>
						<a href="#roadmap">
							Roadmap
						</a>
					</li>
				</ul>
			</nav>
			<div class="header__right-box">
				<a href="https://pancakeswap.finance/swap" target="_blank" class="auth__link auth__btn-anim btn-reset">
					buy BIT5
				</a>
				<div class="auth">
					<a href="#" class="auth__link auth__login btn-reset">
						Log in
					</a>
					<a href="#" class="auth__link auth__signup btn-reset">
						Sign up
					</a>
				</div>
				<div class="calc-form">
					<div class="select" data-state="">
						<div class="select-title" data-default="EN">EN</div>
						<div class="select-content">
						  <label class="select-label">
							  EN
							<input class="select-input" type="radio" name="lang" checked value="EN" />
						  </label>
						  <label class="select-label">UA
							<input class="select-input" type="radio" name="lang" value="UA" />
						  </label>
						  <label class="select-label">RU
							<input class="select-input" type="radio" name="lang" value="RU" />
						  </label>
						</div>
					  </div>
					</div>
				</div>               
			</div>
			<button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
				<span class="burger__line"></span>
			</button>   
			<div class="navigation-bg"></div>
			<div class="navigation-mobile" data-menu>
				<a class="logo-link" href="/">
					<img class="logo-link__img" src="../images/icon/logo.svg" alt="Логотип: bit5">
				</a>  
				<nav class="nav">
					<ul>
						<li class="active">
							<a href="/">
								Home
							</a>
						</li>
						<li>
							<a href="#about">
								About us
							</a>
						</li>
						<li>
							<a href="#rules">
								Program Rules
							</a>
						</li>
						<li>
							<a href="#roadmap">
								Roadmap
							</a>
						</li>
					</ul>
				</nav>
				<div class="auth">
					<a href="#" class="auth__link auth__login btn-reset">
						Log in
					</a>
					<a href="#" class="auth__link auth__signup btn-reset">
						Sign up
					</a>
				</div>
			</div>
		</div>
	</div>
</header>