<header class="header">
	<div class="wrapper">
		<div class="header__container">
			<a class="logo-link" href="/">
				<img class="logo-link__img" src="../images/icon/logo.svg" alt="logo: bit5">
			</a>
			<nav class="nav">
				<ul>
					<li class="active">
						<a href="/">
							Home
						</a>
					</li>
					<li>
						<a href="#audit">
							Audit
						</a>
					</li>
					<li>
						<a href="#whitepaper">
							Whitepaper
						</a>
					</li>
					<li>
						<a href="#rules">
							Rules
						</a>
					</li>
					<li>
						<a href="#about">
							About us
						</a>
					</li>
					<li>
						<a href="#linktree">
							Linktree
						</a>
					</li>
				</ul>
			</nav>
			<div class="header__right-box">
				<a href="#" class="auth__link auth__login btn-reset">
					Price
				</a>
				<div class="auth">
					<a href="https://pancakeswap.finance/swap?outputCurrency=0x537aC97B06183706a2CAEb70bAb62578C93d2f4b&inputCurrency=0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56" targe="_blank" class="auth__link auth__signup btn-reset">
						Buy $ BIT5
					</a>
					<a href="https://magnate.bit5.win" target="_blank" class="auth__link auth__btn-anim btn-reset">
						PLAY
					</a>
				</div>
			</div>
			<button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
				<span class="burger__line"></span>
			</button>   
			<div class="navigation-bg"></div>
			<div class="navigation-mobile" data-menu>
				<div class="navigation-mobile__top">
					<a class="logo-link" href="/">
						<img class="logo-link__img" src="../images/icon/logo.svg" alt="Логотип: bit5">
					</a>  
				</div>
				<nav class="nav">
					<ul>
						<li class="active">
							<a href="/">
								Home
							</a>
						</li>
						<li>
							<a href="#audit">
								Audit
							</a>
						</li>
						<li>
							<a href="#whitepaper">
								Whitepaper
							</a>
						</li>
						<li>
							<a href="#rules">
								Rules
							</a>
						</li>
						<li>
							<a href="#about">
								About us
							</a>
						</li>
						<li>
							<a href="#linktree">
								Linktree
							</a>
						</li>
					</ul>
				</nav>
				<div class="header__right-box">
					<div class="auth">
						<a href="#" class="auth__link auth__login btn-reset">
							Price
						</a>
						<a href="https://pancakeswap.finance/swap?outputCurrency=0x537aC97B06183706a2CAEb70bAb62578C93d2f4b&inputCurrency=0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56" target="_blank" class="auth__link auth__signup btn-reset">
							Buy $ BIT5
						</a>
						<a href="https://magnate.bit5.win" target="_blank" class="auth__link auth__btn-anim btn-reset">
							PLAY
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>