<div class="section-bg-color roadmap">
    <section class="section section--bg">
        <div class="wrapper">
            <h1 class="section__title">
                Roadmap
            </h1>
        </div>
    </section>
    <section class="content">
        <div class="wrapper">
            <div class="content__wrapper">
                <div class="roadmap__container">
                    <div class="swiper roadmap__slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="roadmap__item">
                                    <h3 class="roadmap__title">
                                        June 2022
                                    </h3>
                                    <ol class="content__list list list-reset mt-30 mb-30">
                                        <li class="list__item">
                                            <span class="list__item-number">1</span>
                                            <p class="list__item-description">
                                                Deploy smart contract and create liquidity pool on DEX
                                            </p>
                                        </li>
                                        <li class="list__item">
                                            <span class="list__item-number">2</span>
                                            <p class="list__item-description">
                                                Website launch
                                            </p>
                                        </li>
                                        <li class="list__item">
                                            <span class="list__item-number">3</span>
                                            <p class="list__item-description">
                                                Press releases
                                            </p>
                                        </li>
                                        <li class="list__item">
                                            <span class="list__item-number">4</span>
                                            <p class="list__item-description">
                                                Partnerships announcements
                                            </p>
                                        </li>
                                        <li class="list__item">
                                            <span class="list__item-number">5</span>
                                            <p class="list__item-description">
                                                Project Launch (Round One)
                                            </p>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="roadmap__item">
                                    <h3 class="roadmap__title">
                                        August 2022
                                    </h3>
                                    <ol class="content__list list list-reset mt-30 mb-30">
                                        <li class="list__item">
                                            <span class="list__item-number">1</span>
                                            <p class="list__item-description">
                                                Deploy smart contract and create liquidity pool on DEX
                                            </p>
                                        </li>
                                        <li class="list__item">
                                            <span class="list__item-number">2</span>
                                            <p class="list__item-description">
                                                Website launch
                                            </p>
                                        </li>
                                        <li class="list__item">
                                            <span class="list__item-number">3</span>
                                            <p class="list__item-description">
                                                Press releases
                                            </p>
                                        </li>
                                        <li class="list__item">
                                            <span class="list__item-number">4</span>
                                            <p class="list__item-description">
                                                Partnerships announcements
                                            </p>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="roadmap__item">
                                    <h3 class="roadmap__title">
                                        September 2022
                                    </h3>
                                    <ol class="content__list list list-reset mt-30 mb-30">
                                        <li class="list__item">
                                            <span class="list__item-number">1</span>
                                            <p class="list__item-description">
                                                Launch Round Two
                                            </p>
                                        </li>
                                        <li class="list__item">
                                            <span class="list__item-number">2</span>
                                            <p class="list__item-description">
                                                Website launch
                                            </p>
                                        </li>
                                        <li class="list__item">
                                            <span class="list__item-number">3</span>
                                            <p class="list__item-description">
                                                Press releases
                                            </p>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="roadmap__item">
                                    <h3 class="roadmap__title">
                                        June 2022
                                    </h3>
                                    <ol class="content__list list list-reset mt-30 mb-30">
                                        <li class="list__item">
                                            <span class="list__item-number">1</span>
                                            <p class="list__item-description">
                                                Deploy smart contract and create liquidity pool on DEX
                                            </p>
                                        </li>
                                        <li class="list__item">
                                            <span class="list__item-number">2</span>
                                            <p class="list__item-description">
                                                Website launch
                                            </p>
                                        </li>
                                        <li class="list__item">
                                            <span class="list__item-number">3</span>
                                            <p class="list__item-description">
                                                Press releases
                                            </p>
                                        </li>
                                        <li class="list__item">
                                            <span class="list__item-number">4</span>
                                            <p class="list__item-description">
                                                Partnerships announcements
                                            </p>
                                        </li>
                                        <li class="list__item">
                                            <span class="list__item-number">5</span>
                                            <p class="list__item-description">
                                                Project Launch (Round One)
                                            </p>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="roadmap__item">
                                    <h3 class="roadmap__title">
                                        June 2022
                                    </h3>
                                    <ol class="content__list list list-reset mt-30 mb-30">
                                        <li class="list__item">
                                            <span class="list__item-number">1</span>
                                            <p class="list__item-description">
                                                Deploy smart contract and create liquidity pool on DEX
                                            </p>
                                        </li>
                                        <li class="list__item">
                                            <span class="list__item-number">2</span>
                                            <p class="list__item-description">
                                                Website launch
                                            </p>
                                        </li>
                                        <li class="list__item">
                                            <span class="list__item-number">3</span>
                                            <p class="list__item-description">
                                                Press releases
                                            </p>
                                        </li>
                                        <li class="list__item">
                                            <span class="list__item-number">4</span>
                                            <p class="list__item-description">
                                                Partnerships announcements
                                            </p>
                                        </li>
                                        <li class="list__item">
                                            <span class="list__item-number">5</span>
                                            <p class="list__item-description">
                                                Project Launch (Round One)
                                            </p>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <!-- Add scrollbar  -->
                        <div class="swiper-scrollbar"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>