<div class="section-bg-color white-paper">
    <section class="section section--bg">
        <div class="wrapper">
            <h1 class="section__title">
                <span class="accent">Bit5</span><br>
                Whitepaper
            </h1>
        </div>
    </section>
    <section class="section table-content">
        <div class="wrapper">
            <h2 class="section__title accent">
                TABLE OF CONTENT
            </h2>
            <ol class="list list-reset">
                <li>
                    1.Overview
                </li>
                <li>
                    2.Our vision
                </li>
                <li>
                    3.Our goals
                </li>
                <li>
                    4.Problem Domain
                </li>
                <li>
                    5.Product
                    <ol class="list-child list-reset">
                        <li>
                            1.Bit5 Rewards
                        </li>
                        <li>
                            2.Bit5 NFT Game
                        </li>
                        <li>
                            3.Bit5 NFT Marketplace
                        </li>
                    </ol>
                </li>
                <li>
                    6.Bit5 Technological concept
                    <ol class="list-child list-reset">
                        <li>
                            1.Overview and requirements
                        </li>
                        <li>
                            2.Security requirements
                        </li>
                        <li>
                            3.Blockchain requirements
                        </li>
                    </ol>
                </li>
                <li>
                    7.Marketing Plan
                    <ol class="list-child list-reset">
                        <li>
                            1.General Market Data
                        </li>
                        <li>
                            2.Go-to Market
                        </li>
                    </ol>
                </li>
                <li>
                    8.Token System
                    <ol class="list-child list-reset">
                        <li>
                            1.Bit5 Token details
                        </li>
                        <li>
                            2.Buying Bit5 products and services using Bit5 Token
                        </li>
                    </ol>
                </li>
                <li>
                    9.Roadmap
                </li>
                <li>
                    10.Appendix
                </li>
            </ol>
        </div>
    </section>
    <section class="section overview">
        <div class="wrapper">
            <h2 class="section__title accent">
                OVERVIEW
            </h2>
            <p class="section__text">
                Reward systems are located at the intersection of lottery
                markets and financial micro-investment systems. And BIT
                aims to take place in a unique niche by providing the best
                service on the market by combining the advantages of the
                two systems through our Bit5 Reward Platform.
            </p>
            <p class="section__text">
                Our Reward Platform will be one of the only online pure
                crypto rewards based on blockchain, designed in a
                decentralized way, to allow members from all over the world
                to empower themselves and create a new world of crypto
                finance, a truly wealth transfer mechanism with
                a positive impact on people’s lives named BIT5.
            </p>
            <p class="section__text">
                The main goal is to become one of the Top 5 worldwide
                reward platforms. This is not an easy task, but we have
                received overwhelming support from top players who have
                reaffirmed the demand for a well-designed decentralized
                reward platform with the noble scop to improve the daily
                financial lives of thousands of people. We will grow a strong
                community of supporters quickly, and so we are conducting
                a token raise for people who want to help grow BIT5 with
                each purchase and increase profit every day.
            </p>
        </div>
        <div class="banner" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="200">
            <picture>
              <source srcset="../images/home/bit-banner-2.avif" type="image/avif">
              <source srcset="../images/home/bit-banner-2.webp" type="image/webp">
              <img loading="lazy" src="../images/home/bit-banner-2.png" class="image" width="100%" height="100%" alt="bit banner">
            </picture>
        </div>
    </section>
    <section class="section vision-goals">
        <div class="wrapper">
            <h2 class="section__title accent">
                OUR VISION
            </h2>
            <p class="section__text mb5">
                Make financial instruments of enrichment available to every
                inhabitant of the planet
            </p>
            <h2 class="section__title accent">
                OUR GOALS
            </h2>
            <p class="section__text">
                The Bit5 team sets itself several ambitious goals for the next
                5 years:
            </p>
            <ul class="list list-reset">
                <li>
                    Form the foundation of the market for fair and open
                    remunerated platforms and maintain positions at the
                    TOP5 of the market
                </li>
                <li>
                    Achieve 100,000 active users annually across all Bit5
                    products
                </li>
                <li>
                    Create a multi-level affiliate network with over 100
                    partners in and out of the crypto world
                </li>
            </ul>
            <div class="bit-image">
                <picture>
                    <source srcset="../images/whitepaper/7.avif" type="image/avif">
                    <source srcset="../images/whitepaper/7.webp" type="image/webp">
                    <img loading="lazy" src="../images/whitepaper/7.jpg" class="image" width="100%" height="100%" alt="bit5">
                </picture>
            </div>
        </div>
    </section>
    <section class="section overview">
        <div class="wrapper">
            <h2 class="section__title accent">
                PROBLEM DOMAIN
            </h2>
            <p class="section__text">
                Legacy lotteries and reward systems have managed to
                introduce new products fairly regularly, which is admirable.
                However, instead of increasing revenue, it seems like topline
                revenue sales come at the expense of existing games. But
                Millennials aren’t buying lottery tickets at such a high pace
                as older generations used to and this is bound to take its toll
                on the market. That's why Bit5 Reward System is phone-first
                and built on blockchain. It's a simple, available and popular
                technology for a new generation of people.
            </p>
            <p class="section__text">
                Another pressing issue that is currently riddling the market
                is the lack of transparency and the growing concern of
                people regarding the actual randomness of the draws. And
                our platform is the very first to use a True Random Number
                Generator (TRNG) on a blockchain. The TRNG itself is
                intended to guarantee the true randomness of the draws,
                while the blockchain layer brings the much-needed
                immutability and transparency
            </p>
            <p class="section__text">
                Apart from all of the above, another important thing to
                consider is that legacy lotteries are continuously losing any
                kind of personalization they might have had. With billions of
                tickets in sales, it feels like the emphasis is put solely on the
                profit, rather than on the user. Bit5 Reward System is
                tackling this issue by bringing back the personal feeling
                when you are building your referral community and getting
                prizes from the team after the victory.
            </p>
            <p class="section__text">
                On another side of the technological world, NFTs are an
                issue that has sparked a lot of debate and occasionally
                toxicity in the online gaming community in recent months.
                It’s difficult to go a day without hearing about NFTs and the
                Metaverse: a new tech business releasing NFT avatars, a
                videogame executive enthusiastic about NFTs and the
                Metaverse, a startup angel investor tweeting a word salad
                about how they’ll transform art as we know it. NFTs,
                although being the most popular keyword in IT today, have
                so far provided little practical value in the game world.
            </p>
            <p class="section__text">
                Bit5 Reward System and AI technology combined with DeFi
                resolving all of the said issues by providing a transparent
                and fair platform for running global online investments. Bit5
                uses blockchain to provide a transparent, automated, and
                accessible solution to users throughout the world who do
                not have access to banking facilities. With just 50 USD a
                user can enter multiple virtual contests in the hopes of
                winning substantial prizes from each contest.
            </p>
            <p class="section__text">
                Users are unable to participate in the world’s largest reward
                system due to the border and local constraints. Blockchain
                rewards have the potential to make lotteries, investments
                and the financial market more democratic, allowing more
                people from all around the world to participate.
            </p>
            <p class="section__text">
                Furthermore, Bit5 offers one prize game category in which a
                total of thousands of virtual players participate, with each
                virtual player being able to be sold via NFT to a private
                investor in exchange and raise some fast money in one
                moment.
            </p>
        </div>
    </section>
    <section class="section section products">
        <div class="wrapper">
            <p class="section__text">
                There are 3 main products in Bit5 portfolio:
            </p>
            <div class="products__links">
                <a href="#" class="products__link">
                    <div class="text">
                        <span>Bit5</span><br>
                        <span class="accent-whtie">Reward System</span>
                    </div>
                </a>
                <a href="" class="products__link">
                    <div class="text">
                        <span>Bit5</span><br>
                        <span class="accent-whtie">NFT Game</span>
                    </div>
                </a>
                <a href="" class="products__link">
                    <div class="text">
                        <span>Bit5</span><br>
                        <span class="accent-whtie">NFT Marketplace</span>
                    </div>
                </a>
            </div>
            <h2 class="section__title accent">
                BIT5 REWARD SYSTEM
            </h2>
            <p class="section__text">
                Our system is divided into 5 unique ways to earn rewards:
            </p>
            <ul class="list list-reset">
                <li>
                    <span class="accent">Bit1</span> - Last-minute BUY transaction more than 50$ worth in
                    BIT5 tokens until to deadline of the season, means: each
                    purchase of BIT5 token on any platform updates the timer
                    for 60 seconds
                </li>
                <li>
                    <span class="accent">Bit2</span> - Each BUY transaction that was more than 100$ worth
                    in BIT5 token will be selected as one winner randomly via
                    random.org service on the BIT5 Youtube channel or/and
                    other partners
                </li>
                <li>
                    <span class="accent">Bit3</span> - Select one winner from wallets that made a max
                    number of transactions (buy/sell/bet) from 50$ worth in
                    BIT5 tokens
                </li>
                <li>
                    <span class="accent">Bit4</span> - The maximum number of referrals who made at least
                    one purchase from $50 worth in BIT5 token
                </li>
                <li>
                    <span class="accent">Bit5</span> - Referral team leader with the biggest amount of
                    purchased BIT5 tokens from 50$ worth in BIT5
                </li>
            </ul>
            <p class="section__text">
                Our financial model is also ideal for those who love passive
                income. The bigger your BIT5 deposit, the more rewards you
                get. Each new buyer participant raises the price of BIT5 with
                their purchases due to the full diluted total supply of the
                BIT5 token.<br>
                We expect more than 1,500 purchases daily, which will
                significantly increase the liquidity of the project in the
                amount of more than 75,000 (+75% of the initiated liquidity).
                As a result, in our first round campaign, the deposit holder
                can multiply his funds by more than 20 times (x20)
            </p>
            <p class="section__text">
                Buy every day more than 50$ in BIT5 tokens and increase
                the chances to get 1 BNB as an everyday reward or 1 ETH
                every week.
            </p>
            <p class="section__text">
                In a few words, it all can be described: swap 50$ to your first
                BTC, BNB or ETH every day
            </p>
             <div class="chart-image">
                <picture>
                    <source srcset="../images/whitepaper/11.avif" type="image/avif">
                    <source srcset="../images/whitepaper/11.webp" type="image/webp">
                    <img loading="lazy" src="../images/whitepaper/11.png" class="image" width="100%" height="100%" alt="bit5 chart">
                </picture>
            </div>
        </div>
    </section>
    <section class="section nft-game">
        <div class="wrapper">
            <h2 class="section__title accent">
                BIT5 NFT GAME
            </h2>
            <p class="section__text">
                The game is based on the logic of the MONOPOLY board
                game. The difference is that our users will not be constantly
                online, but will fight for virtual assets non-stop.
            </p>
            <p class="section__text">
                For a large number of participants, our playing field will
                consist of 100x100x100x100 cards. Of these, 90% are
                company cards, and 10% are bonus cards or dummies
            </p>
            <p class="section__text">
                User's task: to collect shares of the company of one of the
                lines of the square field
            </p>
            <p class="section__text mb0">
                Our game is divided into 4 stages:
            </p>
            <ul class="list list-reset">
                <li>
                    Deposit money into the game from the wallet
                </li>
                <li>
                    Buying “bones” for a step in the form of NFT
                </li>
                <li>
                    Buying shares of a company in the form of NFT
                </li>
                <li>
                    Reset quarterly
                </li>
            </ul>
            <div class="bit-image">
                <picture>
                    <source srcset="../images/whitepaper/12.avif" type="image/avif">
                    <source srcset="../images/whitepaper/12.webp" type="image/webp">
                    <img loading="lazy" src="../images/whitepaper/12.jpg" class="image" width="100%" height="100%" alt="bit5">
                </picture>
            </div>
            <ul class="list list-steps list-reset">
                <li>
                    <span class="accent">Step 1</span>. The user must deposit in the form of USDT / BUSD
                    tokens to the wallet inside the game (as it happens for
                    example on Binance or any other CEX)
                </li>
                <li>
                    <span class="accent">Step 2</span>. The number of NFT “Bones” is limited to 10 million
                    pieces. The maximum quantity for one wallet is 1000
                    pieces*. The usage limit is 1 time per 5 minutes. The user
                    buys an NFT “Dice” for X amount, which randomly generates
                    a move. As a result of a virtual move, the user gets a card
                    (like how you threw the dice in a real game, looked like a chip
                    and hit some kind of card).
                    <ul class="list list-child list-reset">
                        <li>
                            if it is a company card without an owner -> the user can
                            buy it for USD
                        </li>
                        <li>
                            if it is a company card with an owner -> the owner of the
                            card receives an annuity (tax) payment from the user's
                            deposit
                        </li>
                        <li>
                            if it is a chance card -> the user gets X number of bit5
                            tokens or the right to roll the dice again  
                        </li>
                        <li>
                            if it's a dummy card -> nothing happens, users lost the
                            turn
                        </li>
                    </ul>
                    As a result of the move, NFT “Bones” burns out.
                </li>
                <li>
                    <span class="accent">Step 3</span>. If at step 2 the user gets a card that does not have
                    an owner, he can buy it for USD and keep it in his wallet until
                    the end of the round.<br>
                    In the in-game marketplace, the user can buy a company
                    from another player at a price set by the owner. There is a
                    10% commission on every resale.
                </li>
                <li>
                    <span class="accent">Step 4</span>. After using 10 million steps in the form of NFT dice or
                    after 30 days, a new field is launched in which 80% of new
                    companies, and 20% from previous stages. 
                </li>
            </ul>
            <p class="section__text">
                Victory: the user who collects shares of one side of the field
                receives <span class="accent">$1,000,000</span>, and if no one has collected a line
                before the end of the steps or 30 days, then the user with
                the maximum number of sets (cards of the same color)
                receives <span class="accent">$100,000</span>, and <span class="accent">$10,000</span>
                is distributed in equal parts among the other cardholders.
            </p>
            <div class="bit-image">
                <picture>
                    <source srcset="../images/whitepaper/13.avif" type="image/avif">
                    <source srcset="../images/whitepaper/13.webp" type="image/webp">
                    <img loading="lazy" src="../images/whitepaper/13.jpg" class="image" width="100%" height="100%" alt="bit5">
                </picture>
            </div>
        </div>
    </section>
    <section class="section marketplace">
        <div class="wrapper">
            <h2 class="section__title accent">
                BIT5 NFT MARKETPLACE
            </h2>
            <p class="section__text">
                To implement gaming functionality, as well as to support
                young and ambitious creative people, our team launches the
                NFT Marketplace
            </p>
            <div class="bit-image">
                <picture>
                    <source srcset="../images/whitepaper/14.avif" type="image/avif">
                    <source srcset="../images/whitepaper/14.webp" type="image/webp">
                    <img loading="lazy" src="../images/whitepaper/14.jpg" class="image" width="100%" height="100%" alt="bit5">
                </picture>
            </div>
        </div>
    </section>
    <section class="section concept">
        <div class="wrapper">
            <h2 class="section__title accent">
                BIT5 TECHNOLOGICAL CONCEPT
            </h2>
            <p class="section__text">
                <span class="accent">Overview and requirements</span>
                The Bit5.win Bitcoin Reward Platform is a provably fair online
                last-minute buy competition that takes place on the bit5.win
                website. Where 5 lucky users stand a chance to win up to
                $150,000 in free bitcoins in each round.<br>
                We are a secure online reward system based on the Binance
                Smart Chain (BSC) decentralized network which uses the
                concept of smart contracts, BIT5 token transaction fees,
                BTC for prize distribution and a referral system
            </p>
            <p class="section__text">
                Entering the system is easy – all you need are one or more
                purchases over $50 worth of BIT5 tokens that make you
                eligible to participate. There are several ways to become
                lucky winners, and once you do your first purchase, the
                system automatically enters you into the draw.
            </p>
            <p class="section__text">
                After each purchase, our system via API calls fixes results on
                our website
            </p>
            <p class="section__text">
                <span class="accent">Security requirements</span>
                There are many risks involved in running a reward system.
                We have the maturity talent, experience, and high
                management skills to overcome them. Our liquidity is
                protected and locked, before any purchase, everyone needs
                to make DYOR.
            </p>
            <p class="section__text">
                We are following the best practices when it comes to
                securing infrastructure and data including
                ISO/IEC27001:20132 and the CryptoCurrency Security
                Standard (CCSS)
            </p>
            <p class="section__text">
                Never share your wallet details, such as your private key and
                seed/mnemonic phrase, with anyone.
            </p>
            <p class="section__text">
                <span class="accent">
                    Always check that you are on the site 
                    <a href="https://bit5.win">https://bit5.win</a>
                </span>
            </p>
            <p class="section__text">
                <span class="accent">Blockchain Requirements</span>
                The blockchain operations provided by Bit5 can be used on
                any EVM-based blockchains.
                The native blockchain used for payments and resource
                sharing is Binance Smart Chain (BSC), chain ID = 56.
            </p>
            <p class="section__text">
                To work with this type of blockchain, you need to have any
                WEB3 wallet (Metamask, Trust Wallet, Clover Wallet, Nabox
                Wallet, Coin98, etc) that already supported BSC.
            </p>
            <p class="section__text">
                Never share your wallet details, such as your private key and
                seed/mnemonic phrase, with anyone.
            </p>
            <p class="section__text">
                More info<br>
                <span class="accent">
                    <a href="https://academy.binance.com/en/articles/how-to-get-started-with-binance-smart-chain-bsc">
                        https://academy.binance.com/en/articles/how-to-get-started-with-binance-smart-chain-bsc
                    </a>
                </span>
            </p>
        </div>
    </section>
    <section class="section marketing">
        <div class="wrapper">
            <h2 class="section__title accent">
                BIT5 MARKETING PLAN
            </h2>
            <p class="section__text">
                <span class="accent">General Market Data</span>
                The total Global Cryptocurrency Market is estimated to
                reach <span class="accent">USD 2,302.5 Million by 2028</span>.
                The market stood at a <span class="accent">revenue of USD 1,542.9
                Million in the year 2021 and is expected to grow at a 
                Compound Annual Growth Rate (CAGR) of 6.9%</span>
            </p>
            <p class="section__text">
                Bit5 also planning to take a piece of the pie from:
                <span class="accent">GameFi</span> - Potential of crypto in the Gaming industry
                The crypto gaming industry had a market <span class="accent">revenue of
                US$321</span> million in 2020 with around 41.9 million gamers
                owning crypto.<br>
                <span class="accent">NFT Market</span> - The global NFT market size is expected to grow
                from USD 3.0 billion in 2022 to <span class="accent">USD 13.6 billion by 2027</span>, at a
                Compound Annual Growth Rate (CAGR) of 35.0% from 2022
                to 2027.
            </p>
            <p class="section__text">
                Never share your wallet details, such as your private key and
                seed/mnemonic phrase, with anyone.
            </p>
            <p class="section__text mb0">
                <span class="accent">
                    Go-to Market
                </span>
            </p>
            <ul class="list list-reset">
                <li>
                    Press releases in main crypto and non-crypto resources
                </li>
                <li>
                    Invite YouTubers with more than 50k audience
                </li>
                <li>
                    Invite influencers on Twitter with more than 100k
                    audience
                </li>
                <li>
                    Ads in Google
                </li>
                <li>
                    Ads in most popular crypto services: Dextools, Poocoin,
                    Coindesk, Bscscan, etc
                </li>
                <li>
                    AMA with partners
                </li>
                <li>
                    Organic growth with the Bit5 community
                </li>
                <li>
                    Investments in tournaments and conquests
                </li>
            </ul>
        </div>
    </section>
    <section class="section token">
        <div class="wrapper">
            <h2 class="section__title accent">
                BIT5 TOKEN SYSTEM
            </h2>
            <p class="section__text mb0">
                BIT5 is a BEP20 deflation token that holds the utility for the
                user, as a payment method along with the BTC to participate
                in the Bit5 Bitcoin Reward system. There are three additional
                fees from each transaction for increasing the value and
                price of BIT5:
            </p>
            <ul class="list list-reset">
                <li>
                    - <span class="accent">2%</span> goes as a reward to BIT5 holders and referrals
                </li>
                <li>
                    - <span class="accent">5%</span> goes to liquidity
                </li>
                <li>
                    - <span class="accent">5%</span> goes to marketing and additional competitions
                    Contract address:
                </li>
                <li>
                    Total Supply: <span class="accent">1,000,000,000</span>
                </li>
                <li>
                    Decimals: <span class="accent">9</span>
                </li>
            </ul>
            <p class="section__text">
                Total supply is fully diluted in liquidity with an initial price of
                $0,0001 per 1 BIT5 token
            </p>
            <p class="section__text">
                You can buy your BIT5 token on Pancakeswap and other
                available exchanges.
            </p>
            <p class="section__text">
                More info about deflation tokens<br>
                <a href="https://www.coindesk.com/learn/inflationary-and-deflationary-cryptocurrencies-whats-the-difference/">
                    https://www.coindesk.com/learn/inflationary-and-deflationary-cryptocurrencies-whats-the-difference/
                </a>
            </p>
            <div class="bit-image">
                <picture>
                    <source srcset="../images/whitepaper/15.avif" type="image/avif">
                    <source srcset="../images/whitepaper/15.webp" type="image/webp">
                    <img loading="lazy" src="../images/whitepaper/15.jpg" class="image" width="100%" height="100%" alt="bit5">
                </picture>
            </div>
        </div>
    </section>
    <section class="section bit-roadmap">
        <div class="wrapper">
            <h2 class="section__title accent">
                BIT5 ROADMAP
            </h2>
            <p class="section__text accent">
                Q3 2022
            </p>
            <ul class="list list-reset">
                <li>
                    July - <span class="accent">Deploy smart contract and create liquidity pool on </span> 
                </li>
                <li>
                    <span class="accent">DEX</span>
                </li>
                <li>
                    July - <span class="accent">Website launch</span>
                </li>
                <li>
                    July - <span class="accent">Press releases</span>
                </li>
                <li>
                    July - <span class="accent">Partnerships announcements</span>
                </li>
                <li>
                    July - <span class="accent">Project Launch (Round One)</span>
                </li>
                <li>
                    August - <span class="accent">CEX Listings</span>
                </li>
                <li>
                    August - <span class="accent">Final Results Round One, Selecting Winners</span>
                </li>
                <li>
                    August - <span class="accent">Adding new mechanics before Round Two</span>
                </li>
                <li>
                    August - <span class="accent">Launch NFT Game “MEGAPOLY” with $1,000,000 Prize Fund</span>
                </li>
                <li>
                    August - <span class="accent">Launch Round Two</span>
                </li>
                <li>
                    September - <span class="accent">Launch Round Three</span>
                </li>
                <li>
                    September - <span class="accent">Alpha Launch NFT Collection and
                        Marketplace BIT5</span>
                </li>
                <li>
                    September - <span class="accent">Launch NFT Game “Altcoin Battle” testne</span>
                </li>
            </ul>
            <p class="section__text accent">
                Q4 2022
            </p>
            <ul class="list list-reset">
                <li>
                    October - <span class="accent">Final Results Round Two, Selecting Winners</span> 
                </li>
                <li>
                    October - <span class="accent">Launch NFT Game “Altcoin Battle” mainnet</span>
                </li>
                <li>
                    October - <span class="accent">Launch Round Four</span>
                </li>
                <li>
                    November - <span class="accent">New Partnerships announcements</span>
                </li>
                <li>
                    November - <span class="accent">Launch Round Five</span>
                </li>
                <li>
                    December - <span class="accent">Launch Rating system for winners</span>
                </li>
                <li>
                    December - <span class="accent">Launch Round Six</span>
                </li>
            </ul>
            <p class="section__text accent">
                Q1 2023
            </p>
            <ul class="list list-reset">
                <li>
                    January - <span class="accent">Launch Round Seven</span> 
                </li>
                <li>
                    January - <span class="accent">Launch NFT Conquest</span>
                </li>
                <li>
                    February - <span class="accent">Update roadmap for next year</span>
                </li>
            </ul>
        </div>
    </section>
    <section class="section appendix">
        <div class="wrapper">
            <h2 class="section__title accent">
                APPENDIX
            </h2>
            <p class="section__text accent">
                References
            </p>
            <ol class="list list-reset">
                <li>
                    Lucky Block – Overall Best Crypto Gaming Platform for 2022
                </li>
                <li>
                    PoolTogether – Best Crypto Lottery Site for Free Jackpot
                    Entry
                </li>
                <li>
                    Lottoland – Bitcoin Lotto Draws with 1,000 BTC Jackpots
                </li>
                <li>
                    Quanta – High-Security Crypto Lottery Platform on
                    Ethereum Blockchain
                </li>
                <li>
                    DuckDice – Bitcoin-Based Lotto Platform with Weekly
                    $100,000 Prize
                </li>
                <li>
                    Crypto Millions – Best Crypto Lottery Site for Variety
                </li>
                <li>
                    FortuneJack – Exciting Crypto Lottery Platform with Free
                    Play Mode
                </li>
                <li>
                    CryptoGames – Best Crypto Lottery Site for Progressive
                    Jackpots
                </li>
                <li>
                    Bitcasino.io – User-Friendly Platform with Crypto Casino
                    Games
                </li>
                <li>
                    Gamdom – ‘Provably Fair’ Bitcoin Casino Platform
                </li>
            </ol>
            <p class="section__text accent">
                Official Links:
            </p>
            <ul class="list list-reset">
                <li>
                    Website - <a href="https://bit5.win">https://bit5.win</a>
                </li>
                <li>
                    Telegram Announcement Channel -
                    <a href="https://t.me/bit5win">https://t.me/bit5win</a>
                </li>
                <li>
                    Telegram Community - 
                    <a href="https://t.me/Bit5Company">https://t.me/Bit5Company</a>
                </li>
                <li>
                    Twitter - <a href="https://twitter.com/bit5win">https://twitter.com/bit5win</a>
                </li>
                <li>
                    Coinmarketcap -
                    <a href="https://coinmarketcap.com/currencies/bit5/">https://coinmarketcap.com/currencies/bit5/</a>
                </li>
                <li>
                    Coingecko -
                    <a href="https://www.coingecko.com/en/coins/bit5/">https://www.coingecko.com/en/coins/bit5/</a>
                </li>
                <li>
                    Reddit - <a href="https://www.reddit.com/user/bit5-win">https://www.reddit.com/user/bit5-win</a>
                </li>
                <li>
                    Youtube -
                    <a href="https://www.youtube.com/channel/UCvatYKiRO2U7-
                    1k8bmU8XMg">
                    https://www.youtube.com/channel/UCvatYKiRO2U7-
                    1k8bmU8XMg</a>
                </li>
                <li>
                    Facebook - <a href="https://www.facebook.com/bit5.win">https://www.facebook.com/bit5.win</a>
                </li>
                <li>
                    Instagram -
                    <a href="https://www.instagram.com/bit5.company/">https://www.instagram.com/bit5.company/</a>
                </li>
            </ul>
        </div>
    </section>
</div>