@include small-desktop {
    .header {
        .nav {
            margin-left: 0;

            ul {
                li {
                    &:not(:last-child) {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}

@include middle-tablet {
    .header {
        .nav {
            margin-left: 25px;
            margin-right: 25px;

            ul {
                flex-wrap: wrap;
                gap: 10px 0;
    
                li:not(:last-child) {
                    margin-right: 25px;
                }
            }
        }
        // .auth {
        //     flex-direction: column;
        // }

        .calc-form {
            .select {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}

@include small-tablet {
    .header {
        .nav {
            display: none;
        }
        .navigation-bg {
            display: block;
        }
        .burger {
            display: flex;
        }
        .navigation-mobile .nav {
            display: block;
        }
        &__right-box {
            margin-right: 80px;
        }
        .auth {
            flex-direction: row;
            margin-left: 0;
        }
    }
}

@include mobile {
    .body-wrap {
        overflow-x: hidden;
    }
    .header {
        &__right-box {
            margin-right: 60px;
        }
        .auth__login {
            display: none;
        }
        .auth {
            &__signup {
                display: none;
            }
        }
        .navigation-mobile .auth {
            display: flex;
        }
        .navigation-mobile {
            .header__right-box {
                margin-right: 0;

                .auth {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    max-width: 220px;
                    width: 100%;
                    gap: 20px;

                    &__signup,
                    &__login {
                        display: block;
                        padding: 13px 5px;
                    }

                    &__login {
                        min-width: 100px;
                    }

                    &__btn-anim {
                        grid-column: 1 / 3;
                        max-width: 220px;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@include small-mobile {
    .header {
        .auth {
            &__btn-anim {
                padding: 13px 20px;
            }
        }
        .navigation-mobile {
            .auth {
                display: flex;
            }
        }
    }
}
