@include large-desktop {
    .slider {
        &__container {
            padding-left: max(35px, (calc(100% - 1480px) / 2));
        }
    }
}

@include big-desktop {
    .about {
        &__container {
            gap: 70px;
        }
    }
    .tables {
        &__container {
            gap: 75px;
        }
    }
    .prizes {
        &__tabs {
            .tabs {
                &__nav {
                    gap: 20px;
                    margin-bottom: 40px;
                }
            }
        }
    }
    .rules {
        .list {
            gap: 40px 85px;
        }
    }
}

@include small-desktop {
    .main-info {
        &__container {
            grid-template-columns: 1fr;
        }

        .today {
            &__container {
                padding-right: 20px;
            }

            &__info {
                max-width: inherit;
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            &__price {
                grid-column: 1;
            }

            .stats-range,
            .stats-date {
                grid-column: 2;
            }
        }
    }
    .about {
        .section__title {
            margin-bottom: 30px;
        }
        &__container {
            gap: 20px;
        }

        &__content {
            &-image {
                min-width: 190px;
            }
        }
    }
    .tables {
        &__container {
            grid-template-columns: 1fr;
            gap: 30px;
        }
    }
    .prizes {
        &__tabs {
            .tabs {
                margin-bottom: 20px;
                &__nav {
                    gap: 10px;
                    margin-bottom: 20px;
                }
                &__nav-item {
                    padding-right: 15px;
                }
                &__nav-btn {
                    .tabs__nav-icon {
                        margin-right: 5px;
                    }
                    .tabs__new-text {
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
    .rules {
        .section__title {
            margin-bottom: 30px;
        }
    
        .list {
            gap: 20px 40px;

            &__item {
                gap: 15px;
            }

            &__item-number {
                min-width: 30px;
            }
        }
    }
}

@include middle-tablet {
    .main-screen {
        &__title {
            font-size: 44px;
        }
    }
    .main-info {
        padding-bottom: 60px;
        .today {
            &__info {
                max-width: 277px;
                display: block;
            }
        }
    }
    .about {
        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__content {
            max-width: inherit;
            
            &-image {
                min-width: inherit;
            }

            &-box {
                .subtitle {
                    max-width: inherit;
                }
            }
            .text {
                max-width: inherit;      
            } 
            .btn-group {
                margin-top: 30px;
            }
        }
    }
    .section {
        padding: 60px 0;
    }
    .prizes {
        &__container {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }
}

@include small-tablet {
    .main-screen {
        overflow: hidden;
        padding-top: 200px;
        padding-bottom: 100px;

        &__title {
            font-size: 34px;
            margin-bottom: 20px;
        }
    }
    .main-info {
        &__title {
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .today {
            &__container {
                padding-top: 40px;
                padding-bottom: 40px;
                padding-right: 10px;
                gap: 10px;
            }

            &__price {
                margin-bottom: 20px;
                padding-left: 20px;
                font-size: 30px;
            }

            &__stats-info {
                padding-left: 20px;
            }

            &__stats-info--border {
                padding-bottom: 12px;
                margin-bottom: 10px;
            }

            &__stats-title {
                font-size: 16px;
                line-height: 22px;
                margin-right: 10px;
            }
        }
    }
    .recent {
        &__container {
            margin: 20px;
        }

        .purchases {
            &__list {
                &-item {
                    padding: 10px;
                }
            }
        }
    }
    .about {
        &__content {
            
            &-image {
                min-width: 190px;
            }
        }
    }
    .rules {
        .section__title {
            margin-bottom: 15px;
        }
    
        .list {
            grid-template-columns: 1fr;
            gap: 20px;

            &__item {
                gap: 10px;
            }

            &__item-number {
                min-width: 30px;
            }

            &__item-description {
                max-width: inherit;
            }
        }
    }
}

@include mobile {
    .main-screen {
        padding-top: 100px;

        &__title {
            font-size: 22px;
        }
    }

    #currentTimer.timer {
        .timer__container {
            gap: 5px;
            // flex-direction: column;
        }

        .timer__item {
            gap: 10px;
            align-items: flex-start;
            flex-direction: row;
            position: relative;
        }

        .timer__numbers {
            margin-bottom: 0;
            width: 105px;
            height: 105px;
            font-size: 35px;
            line-height: 46px;
    
            svg {
                circle {
                    r: 50;
                }
            }
        }

        .timer__description {
            position: absolute;
            bottom: 15px;
            font-size: 10px;
            line-height: 14px;
        }
    }
    #promoTimer.timer {
        .timer__container {
            gap: 5px;
        }

        .timer__item {
            gap: 10px;
            align-items: flex-start;
            flex-direction: row;
            position: relative;
        }

        .timer__description {
            position: absolute;
            bottom: 25px;
            font-size: 10px;
            line-height: 14px;
        }
    }
    .main-info {
        .today {
            &__container {
                padding-top: 20px;
                padding-bottom: 20px;
                flex-direction: column;
                align-items: flex-start;
            }
            &__grafic {
                align-self: center;
            }
        }
    }
    .tables {
        &::after {
            content: none;
        }
    }
    .recent {
        .purchases {
            &__titles {        
                .purchases__title {
                    font-size: 14px;
                    line-height: 18px;
                }
            }

            &__list {
                &-item {
                    padding: 8px;
                    font-size: 10px;

                    .code {
                        font-size: 6px;

                        .number {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
    .about {
        .section__title {
            margin-bottom: 15px;
        }
        &__content {
            
            &-image {
                min-width: 190px;
            }

            &-box {
                gap: 10px;
                flex-direction: column-reverse;

                .subtitle {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
            .text {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
    .main-info {
        padding-bottom: 30px;
    }
    .section {
        padding: 30px 0;

        &__title {
            font-size: 24px;
        }
    }
    .slider {
        &__container {
            padding-left: max(15px, (calc(100% - 1480px) / 2));

            &::after {
                content: none;
            }
        }
    }
    .prizes {
        &__tabs {
            .tabs {
                &__nav {
                    flex-wrap: wrap;
                    gap: 5px;
                }
                &__nav-item {
                    padding: 5px;
                }
                &__nav-btn {
                    flex-direction: column;
                    gap: 5px;

                    .tabs__nav-icon {
                        margin-right: 0;
                    }
                    .tabs__new-text {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        font-size: 15px;
                    }
                }
                &__content {
                    .tabs__panel {
                        .title {
                            font-size: 18px;
                            line-height: 22px;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
    .every-day {
        .section__text {
            font-size: 16px;
            line-height: 20px;
        }
    }
    .fq {
        .faq {
            margin-top: 30px;
    
            &__question-text {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
}

@include small-mobile {
    #currentTimer.timer {
        .timer__numbers {
            width: 70px;
            height: 70px;
            font-size: 25px;
            line-height: 36px;
            border: 4px solid var(--cs-grey);
    
            svg {
                circle {
                    r: 33;
                }
            }
        }

        .timer__description {
            bottom: -25px;
            font-size: 12px;
            line-height: 14px;
        }
    }
    .recent {
        &__container {
            margin: 10px;
        }
        .purchases {
            &__titles {        
                .purchases__title {
                    font-size: 12px;
                }
            }

            &__list {
                &-item {
                    padding: 8px 2px;
                    font-size: 8px;

                    .code {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .prizes {
        &__tabs {
            .tabs {
                &__nav-btn {
                    .tabs__nav-icon {
                        width: 35px;
                        height: 35px;

                        svg {
                            width: 18px;
                            height: 10px;
                        }
                    }
                    .tabs__new-text {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .fq {
        .faq {
            &__question-text {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}