@include small-desktop {
    .main-screen {
        padding-top: 128px;
        padding-bottom: 100px;
    }
    .about {
        .section__title {
            margin-bottom: 30px;
        }
        &__container {
            gap: 20px;
        }

        &__content {
            &-image {
                min-width: 190px;
            }
        }
    }
    .bit-banner {
        &__container {
            padding: 60px 80px 30px 80px;
        }
    }
    .prizes {
        &__container {
            gap: 25px;
        }
        &__item {
            padding: 20px 30px 40px 30px;
        }
    }
    .token {
        padding-top: 100px;

        &__container {
            gap: 50px;
        }
    }
}

@include tablet {
    .prizes {
        &__item {
            &-title {
                font-size: 22px;
            }
        }
        &__descript {
            margin-top: 20px;
            margin-bottom: 40px;
        }
        &__icon {
            width: 60px;
            height: 60px;
            
            svg {
                width: 32px;
                height: 32px;
            }
        }
    }
}

@include middle-tablet {
    .main-screen {
        &__title {
            font-size: 44px;
        }
    }
    .about {
        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__content {
            max-width: inherit;
            
            &-image {
                min-width: inherit;
            }

            &-box {
                .subtitle {
                    max-width: inherit;
                }
            }
            .text {
                max-width: inherit;      
            } 
            .btn-group {
                margin-top: 30px;
            }
        }
        .game {
            &__container {
                gap: 30px;
            }
        }
    }
    .section {
        padding: 60px 0;
    }
    .prizes {
        &__container {
            grid-template-columns: 1fr;
        }

        &__descript {
            max-width: inherit;
        }
    }
    .token {
        &__container {
            flex-direction: column;
            gap: 30px;
        }
    }
}

@include small-tablet {
    .main-screen {
        overflow: hidden;
        padding-top: 170px;
        padding-bottom: 80px;

        &__title {
            font-size: 34px;
        }
        &__text {
            margin-bottom: 20px;
        }
        &__text-sm {
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }
    .timer {
        &__container {
            gap: 18px;
        }
    }
    .about {
        &__content {
            &-image {
                min-width: 190px;
            }
        }
        .game {
            &__container {
                grid-template-columns: 1fr;
            }
        }
    }
    .bit-banner {
        padding: 30px 0;
        
        &__container {
            padding: 30px 50px 15px 50px;
        }

        &__title {
            font-size: 30px;
            margin-bottom: 30px;
        }
    }
    .token {
        padding: 80px 0;

        &__text {
            margin: 30px 0;
        }

        &__content {
            .token__title {
                margin: 0;
            }
            .token__text {
                margin-top: 15px;
                margin-bottom: 20px;
            }
            .text {
                margin-bottom: 50px;
            }
        }
    }
}

@include mobile {
    .main-screen {
        background-image: url('../images/home/main-screen-mob-bg.png');

        &__title {
            font-size: 50px;
        }
        &__text {
            font-size: 18px;
        }
        &__text-sm {
            font-size: 16px;
        }
    }

    #currentTimer.timer {
        // .timer__container {
        //     gap: 5px;
        //     flex-direction: column;
        // }

        .timer__item {
            gap: 10px;
            // align-items: flex-start;
            // flex-direction: row;
            position: relative;
        }

        .timer__numbers {
            margin-bottom: 0;
            width: 72px;
            height: 72px;
            font-size: 24px;
            line-height: 100%;

            svg {
                circle {
                    r: 33;
                }
            }
            svg:nth-child(2) circle {
                stroke-dasharray: 210;
            }
        }

        .timer__description {
            // position: absolute;
            // bottom: 15px;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
        }
    }
    #promoTimer.timer {
        // .timer__container {
        //     gap: 5px;
        // }

        .timer__item {
            gap: 10px;
            // align-items: flex-start;
            // flex-direction: row;
            position: relative;
        }

        .timer__description {
            // position: absolute;
            // bottom: 25px;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
        }
    }
    .rating {
        &__container {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
        .section__title {
            font-size: 30px;
        }
    }
    .about {
        &__content {
            
            &-image {
                min-width: 190px;
            }

            &-box {
                gap: 10px;
                flex-direction: column-reverse;

                .subtitle {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
            .text {
                margin-top: 0px;
                margin-bottom: 0px;
            }
            .text.text-grey {
                margin-top: 20px;
                margin-bottom: 0;
            }
        }
        .section__title {
            font-size: 30px;
            margin-bottom: 40px;
        }
        .game {
            &__tabs {
                .tabs {
                    &__nav {
                        padding-bottom: 15px;
                        margin-bottom: 30px;
                    }
                    &__nav-btn {
                        font-size: 18px;
                    }
                    &__nav-item {
                        &:not(:last-child) {
                            margin-right: 30px;
                        }
                    }
                }
            }
        }
    }
    .section {
        padding: 30px 0;

        &__title {
            font-size: 24px;
        }
    }
    .bit-banner {
        &__container {
            padding: 70px 40px 340px 40px;
            background-image: url('../images/home/bit-banner-mob.jpg');
        }

        &__title {
            font-size: 30px;
            margin-bottom: 30px;
            max-width: 250px;
        }
    }
    .token {
        padding: 80px 0;

        &__title {
            font-size: 30px;
        }

        &__text {
            font-size: 18px;
            max-width: 210px;
            margin-left: auto;
            margin-right: auto;
        }

        &__content {
            .token__title {
                text-align: center;
            }
            .token__text {
                max-width: inherit;
            }
            .text {
                text-align: center;
            }
        }
        .btn-main {
            margin: 0 auto;
        }
    }
    .swap {
        padding: 70px 55px 360px 55px;
        background-image: url('../images/home/pancakesswap-mob-bg.jpg');

        &__title {
            font-size: 30px;
            text-align: center;
        }

        &__btn {
            margin: 0 auto;
        }
    }
}

@include small-mobile {
    .main-screen {
        &__title {
            font-size: 48px;
        }
    }
    .timer {
        &__container {
            gap: 5px;
        }
    }
    .slider {
        .item {
            padding: 50px 10px 40px 10px;
            max-width: 240px;
        }
    }
}