@include big-desktop {
    .prizes {
        &__tabs {
            .tabs {
                &__nav {
                    gap: 20px;
                    margin-bottom: 40px;
                }
            }
        }
    }
}

@include small-desktop {
    .main-screen {
        padding-top: 128px;
        padding-bottom: 100px;
    }
    .about {
        .section__title {
            margin-bottom: 30px;
        }
        &__container {
            gap: 20px;
        }

        &__content {
            &-image {
                min-width: 190px;
            }
        }
    }
    .prizes {
        &__tabs {
            .tabs {
                margin-bottom: 20px;
                &__nav {
                    gap: 10px;
                    margin-bottom: 20px;
                }
                &__nav-item {
                    padding-right: 15px;
                }
                &__nav-btn {
                    .tabs__nav-icon {
                        margin-right: 5px;
                    }
                    .tabs__new-text {
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
}

@include middle-tablet {
    .main-screen {
        &__title {
            font-size: 44px;
        }
    }
    .about {
        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__content {
            max-width: inherit;
            
            &-image {
                min-width: inherit;
            }

            &-box {
                .subtitle {
                    max-width: inherit;
                }
            }
            .text {
                max-width: inherit;      
            } 
            .btn-group {
                margin-top: 30px;
            }
        }
        .game {
            &__container {
                gap: 30px;
            }
        }
    }
    .section {
        padding: 60px 0;
    }
    .prizes {
        &__container {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }
}

@include small-tablet {
    .main-screen {
        overflow: hidden;
        padding-top: 170px;
        padding-bottom: 80px;

        &__title {
            font-size: 34px;
        }
        &__text {
            margin-bottom: 20px;
        }
        &__text-sm {
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }
    .timer {
        &__container {
            gap: 18px;
        }
    }
    .about {
        &__content {
            &-image {
                min-width: 190px;
            }
        }
        .game {
            &__container {
                grid-template-columns: 1fr;
            }
        }
    }
}

@include mobile {
    .main-screen {
        background-image: url('../images/home/main-screen-mob-bg.png');

        &__title {
            font-size: 50px;
        }
        &__text {
            font-size: 18px;
        }
        &__text-sm {
            font-size: 16px;
        }
    }

    #currentTimer.timer {
        // .timer__container {
        //     gap: 5px;
        //     flex-direction: column;
        // }

        .timer__item {
            gap: 10px;
            // align-items: flex-start;
            // flex-direction: row;
            position: relative;
        }

        .timer__numbers {
            margin-bottom: 0;
            width: 72px;
            height: 72px;
            font-size: 24px;
            line-height: 100%;

            svg {
                circle {
                    r: 33;
                }
            }
            svg:nth-child(2) circle {
                stroke-dasharray: 210;
            }
        }

        .timer__description {
            // position: absolute;
            // bottom: 15px;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
        }
    }
    #promoTimer.timer {
        // .timer__container {
        //     gap: 5px;
        // }

        .timer__item {
            gap: 10px;
            // align-items: flex-start;
            // flex-direction: row;
            position: relative;
        }

        .timer__description {
            // position: absolute;
            // bottom: 25px;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
        }
    }
    .rating {
        &__container {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
        .section__title {
            font-size: 30px;
        }
    }
    .about {
        &__content {
            
            &-image {
                min-width: 190px;
            }

            &-box {
                gap: 10px;
                flex-direction: column-reverse;

                .subtitle {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
            .text {
                margin-top: 0px;
                margin-bottom: 0px;
            }
            .text.text-grey {
                margin-top: 20px;
                margin-bottom: 0;
            }
        }
        .section__title {
            font-size: 30px;
            margin-bottom: 40px;
        }
        .game {
            &__tabs {
                .tabs {
                    &__nav {
                        padding-bottom: 15px;
                        margin-bottom: 30px;
                    }
                    &__nav-btn {
                        font-size: 18px;
                    }
                    &__nav-item {
                        &:not(:last-child) {
                            margin-right: 30px;
                        }
                    }
                }
            }
        }
    }
    .section {
        padding: 30px 0;

        &__title {
            font-size: 24px;
        }
    }
    .prizes {
        &__tabs {
            .tabs {
                &__nav {
                    flex-wrap: wrap;
                    gap: 5px;
                }
                &__nav-item {
                    padding: 5px;
                }
                &__nav-btn {
                    flex-direction: column;
                    gap: 5px;

                    .tabs__nav-icon {
                        margin-right: 0;
                    }
                    .tabs__new-text {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        font-size: 15px;
                    }
                }
                &__content {
                    .tabs__panel {
                        .title {
                            font-size: 18px;
                            line-height: 22px;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}

@include small-mobile {
    .main-screen {
        &__title {
            font-size: 48px;
        }
    }
    .timer {
        &__container {
            gap: 5px;
        }
    }
    .slider {
        .item {
            padding: 50px 10px 40px 10px;
            max-width: 240px;
        }
    }
    .prizes {
        &__tabs {
            .tabs {
                &__nav-btn {
                    .tabs__nav-icon {
                        width: 35px;
                        height: 35px;

                        svg {
                            width: 18px;
                            height: 10px;
                        }
                    }
                    .tabs__new-text {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}